html {
  font-size: 16px !important;
}

body {
  padding: 60px;
  background: linear-gradient(90deg, red, yellow, green, blue);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  animation: flash 1s infinite;
  overflow-x: hidden;
  background-color: #f7a072;
  position: relative;
  min-height: 140vh;
}

#app {
  max-width: 790px;
  margin: 15px auto;
  padding: 25px;
  text-align: center;
  background-color: #ffe603;
  border: 5px dashed #1d508f;
  position: relative;
  height: 600px;
  z-index: 1;
}

.dog-image-container {
  height: 350px;
  margin: 25px auto;
  width: 100%;
  overflow: hidden;
  border: 3px solid #8bc34a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.dog-image {
  height: 100%;
  width: 100%;
  min-height: 200px;
  object-fit: contain;
  opacity: 0.7;
}

.image-overlay-text {
  position: bottom;
  top: 50%;
}

@keyframes flash {
  0% {background-color: red;}
  25% {background-color: yellow;}
  50% {background-color: green;}
  75% {background-color: blue;}
  100% {background-color: red;}
}

next-button {
  color: white;
  background-color: #c0436d;
  border: 6px dashed black;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
}

.small-buttons-containers {
  display: flex;
  margin: 15px 0;
  gap: 2px;
  justify-content: right;
}

.small-button {
  color: white;
  background: rgb(46, 13, 164);
  font-size: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px;
}

.side-panel {
  width: 140px;
  position: absolute;
  top:0;
  height: 45vh;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
  font-size: 1.0rem;
}

.left-panel {
  left: 0;
}

.right-panel {
  right: 0;
}

.marquee-text {
  color: black;
  white-space: nowrap;
  background: #ffd476;
  overflow: hidden;
  animation: marquee 10s linear infinite;
  padding: 10px;
  border: 2px dotted #f44336;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

