html {
  font-size: 16px !important;
}

body {
  padding: 50px;
  background: linear-gradient(90deg, red, yellow, green, blue);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  animation: flash 1s infinite;
  overflow-x: hidden;
  background-color: #f7a072;
  position: relative;
  min-height: 140vh;
}

#app {
  max-width: 790px;
  margin: 15px auto;
  padding: 25px;
  text-align: center;
  background-color: #ffeb3b;
  border: 5px dashed #4caf50;
  position: relative;
  height: 600px;
  z-index: 1;
  overflow: hidden;
}




a {
  color: #00B7FF;
}
